Now that we have all our houses data, we need to clean it as much as possible, and isolate the columns which are the best represented accross all the houses.

In [1]:
# Import 3rd party libraries",
import os
import pandas as pd

# Configure Notebook
import warnings
warnings.filterwarnings('ignore')
%config Completer.use_jedi = False

In [2]:
# create dataframe of houses
house_data = pd.read_csv('houses_data.csv')

In [3]:
# drop rows with no latitude
house_data.dropna(subset=['propertyLat'], inplace=True)

In [4]:
# drop duplicates
house_data.drop_duplicates(inplace=True)

Now that we have removed addresses with no location and any duplicates, we can look at which columns have the most and least null values.

In [5]:
pd.DataFrame({'count': house_data.isnull().sum()})

                             count
Unnamed: 0                       0
address                          0
isResidentialProperty            0
propertyLat                      0
propertyLng                      0
...                            ...
Fireplaces (Total)          457943
Features for Disabled       457943
Assistive Features Remarks  457943
Community Name              457942
Management Company          457942

[460 rows x 1 columns]

After much consideration into the amount of data gathere for each column type, and the potential importance of the information of each column, we ended up with the following 50 features which will be used for further analysis and for the future model.

In [8]:
# create dataframe of houses
house_data_final = house_data[['Unnamed: 0','address', 'isResidentialProperty', 'propertyLat', 'propertyLng', 
                              'searchNeighborhood', 'List Date', 'Sold Price', 'Original Price', 'Type', 'Style', 
                             'Size (sq ft)', 'Age', 'Community', 'List Price', 'Bedrooms', 'Bathrooms', 'Kitchens',
                             'Rooms', 'Air Conditioning', 'Fireplace', 'Basement', 'Heating', 'Exterior', 
                             'Exterior Features', 'Driveway', 'Garage', 'Parking Places', 'Covered Parking Places',
                             'Taxes', 'Feature', 'Fronting On', 'Frontage', 'Lot Depth', 'Pool', 'Sewer', 
                             'Cross Street', 'Municipality District', 'Lot Code', 'Bedrooms Plus', 'Gas',
                               'Waterfront', 'Rooms Plus', 'Washrooms Type 3 # Pcs', 'Kitchens Plus',
                               'Parking Total', 'Furnished', 'Laundry Access', 'Private Entrance', 'Lease Term',
                               'Ensuite Laundry', 'Property Type']]

house_data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457944 entries, 0 to 983862
Data columns (total 52 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              457944 non-null  int64
 1   address                 457944 non-null  object
 2   isResidentialProperty   457944 non-null  object
 3   propertyLat             457944 non-null  object
 4   propertyLng             457944 non-null  object
 5   searchNeighborhood      457944 non-null  object
 6   List Date               178047 non-null  object
 7   Sold Price              137708 non-null  float64
 8   Original Price          117492 non-null  float64
 9   Type                    184957 non-null  object
 10  Style                   183215 non-null  object
 11  Size (sq ft)            48258 non-null   object
 12  Age                     46102 non-null   object
 13  Community               184958 non-null  object
 14  List Price              173441 non-null  float64
 15  Bedrooms                183103 non-null  float64
 16  Bathrooms               184203 non-null  float64
 17  Kitchens                182981 non-null  float64
 18  Rooms                   181376 non-null  float64
 19  Air Conditioning        165388 non-null  object
 20  Fireplace               182973 non-null  object
 21  Basement                184132 non-null  object
 22  Heating                 184445 non-null  object
 23  Exterior                183175 non-null  object
 24  Exterior Features       51026 non-null   object
 25  Driveway                179759 non-null  object
 26  Garage                  184535 non-null  object
 27  Parking Places          183500 non-null  float64
 28  Covered Parking Places  181570 non-null  float64
 29  Taxes                   163320 non-null  float64
 30  Feature                 87446 non-null   object
 31  Fronting On             181967 non-null  object
 32  Frontage                171666 non-null  float64
 33  Lot Depth               171599 non-null  float64
 34  Pool                    179710 non-null  object
 35  Sewer                   180706 non-null  object
 36  Cross Street            184943 non-null  object
 37  Municipality District   184959 non-null  object
 38  Lot Code                113238 non-null  object
 39  Bedrooms Plus           97048 non-null   float64
 40  Gas                     21757 non-null   object
 41  Waterfront              5092 non-null    object
 42  Rooms Plus              129488 non-null  float64
 43  Washrooms Type 3 # Pcs  41183 non-null   float64
 44  Kitchens Plus           30175 non-null   float64
 45  Parking Total           65450 non-null   float64
 46  Furnished               20522 non-null   object
 47  Laundry Access          7029 non-null    object
 48  Private Entrance        20520 non-null   object
 49  Lease Term              20113 non-null   object
 50  Ensuite Laundry         2759 non-null    object
 51  Property Type           1507 non-null    object
dtypes: float64(17), int64(1), object(34)
memory usage: 185.2+ MB

Lets add this cleaned data into its own csv to create another checkpoint

In [20]:
house_data.to_csv('houses_data_final.csv')