Now that we have all our houses data, we need to clean it as much as possible, and isolate the columns which are the best represented across all the houses.

In [11]:
# Import 3rd party libraries",
import os
import pandas as pd

# Configure Notebook
import warnings
warnings.filterwarnings('ignore')
%config Completer.use_jedi = False

If you would like to use more housing data, use the house_data.csv.  It has been pre-cleaned to satisfy the file size requirements of github. save-0-10,000.csv are the first 10,000 data points which are returned from the scraping process.  You can uncomment this line if you are interested to see this notebook clean pure raw data.

In [12]:
# create dataframe of houses
house_data = pd.read_csv('houses_data.csv')
# house_data = pd.read_csv('save-0-10,000.csv') 
house_data.head()

,Unnamed: 0.1,Unnamed: 0,address,isResidentialProperty,propertyLat,propertyLng,searchNeighborhood,List Date,Sold Price,Original Price,...,Rooms Plus,Washrooms Type 3 # Pcs,Kitchens Plus,Parking Total,Furnished,Laundry Access,Private Entrance,Lease Term,Ensuite Laundry,Property Type
0,2,2,82-riverdale-drive,"true,","""43.7337"",","""-79.5607"",",""""",",11/29/2013 12:00:00 AM,1100000.0,1195000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,15,185-honiton-street,"true,","""43.7616"",","""-79.4611"",",""""",",9/19/2014 12:00:00 AM,1008888.0,998000.0,...,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,18,75-mcadam-avenue,"true,","""43.7214"",","""-79.4623"",",""""",",12/5/2014 12:00:00 AM,830000.0,879000.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,20,155-mercury-road,"true,","""43.7257"",","""-79.5881"",",""""",",2021-03-24 00:00:00.0,NaN,NaN,...,3.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
4,24,24,227-woburn-avenue,"true,","""43.7266"",","""-79.4104"",",""""",",2020-08-18 00:00:00.0,1425000.0,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# convert longitudes and latitudes into floats and drop rows with no latitude
house_data['propertyLng'] = house_data['propertyLng'].str.strip("\",")
house_data['propertyLat'] = house_data['propertyLat'].str.strip("\",")

house_data = house_data[(house_data['propertyLng'] != '"",') & 
                        (house_data['propertyLng'] != '') &
                        (house_data['propertyLat'] != '"",') &
                        (house_data['propertyLat'] != '')]

house_data['propertyLng'] = house_data['propertyLng'].astype(float)
house_data['propertyLat'] = house_data['propertyLat'].astype(float)

In [14]:
# drop duplicates
house_data.drop_duplicates(inplace=True)
house_data.head()

,Unnamed: 0.1,Unnamed: 0,address,isResidentialProperty,propertyLat,propertyLng,searchNeighborhood,List Date,Sold Price,Original Price,...,Rooms Plus,Washrooms Type 3 # Pcs,Kitchens Plus,Parking Total,Furnished,Laundry Access,Private Entrance,Lease Term,Ensuite Laundry,Property Type
0,2,2,82-riverdale-drive,"true,",43.7337,-79.5607,""""",",11/29/2013 12:00:00 AM,1100000.0,1195000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,15,185-honiton-street,"true,",43.7616,-79.4611,""""",",9/19/2014 12:00:00 AM,1008888.0,998000.0,...,2.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,18,75-mcadam-avenue,"true,",43.7214,-79.4623,""""",",12/5/2014 12:00:00 AM,830000.0,879000.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,20,155-mercury-road,"true,",43.7257,-79.5881,""""",",2021-03-24 00:00:00.0,NaN,NaN,...,3.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
4,24,24,227-woburn-avenue,"true,",43.7266,-79.4104,""""",",2020-08-18 00:00:00.0,1425000.0,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

Now that we have removed addresses with no location and any duplicates, we can look at which columns have the most and least null values.

In [15]:
pd.DataFrame({'count': house_data.isnull().sum()})

                        count
Unnamed: 0.1                0
Unnamed: 0                  0
address                     0
isResidentialProperty       0
propertyLat                 0
propertyLng                 0
searchNeighborhood          0
List Date                   0
Sold Price              12197
Original Price          31942
Type                        1
Style                      91
Size (sq ft)            35548
Age                     37822
Community                   0
List Price               3286
Bedrooms                  102
Bathrooms                   0
Kitchens                  106
Rooms                     108
Air Conditioning         5151
Fireplace                 159
Basement                 1967
Heating                   164
Exterior                  102
Exterior Features       35745
Driveway                 3587
Garage                  14848
Parking Places             89
Covered Parking Places    668
Taxes                    8706
Feature                 23558
Fronting On               545
Frontage                 4663
Lot Depth                4685
Pool                    48435
Sewer                     774
Cross Street                5
Municipality District       0
Lot Code                32937
Bedrooms Plus           23127
Gas                     44582
Waterfront              50453
Rooms Plus              16122
Washrooms Type 3 # Pcs  42605
Kitchens Plus           38971
Parking Total           18859
Furnished               41863
Laundry Access          48508
Private Entrance        41866
Lease Term              42009
Ensuite Laundry         50190
Property Type           50575

After much consideration into the amount of data gather for each column type, and the potential importance of the information of each column, we ended up with the following 50 features which will be used for further analysis and for the future model.

In [16]:
# create dataframe of houses
house_data_final = house_data[['address', 'isResidentialProperty', 'propertyLat',
                                                                   'propertyLng', 
                              'searchNeighborhood', 'List Date', 'Sold Price', 'Original Price', 'Type', 'Style', 
                             'Size (sq ft)', 'Age', 'Community', 'List Price', 'Bedrooms', 'Bathrooms', 'Kitchens',
                             'Rooms', 'Air Conditioning', 'Fireplace', 'Basement', 'Heating', 'Exterior', 
                             'Exterior Features', 'Driveway', 'Garage', 'Parking Places', 'Covered Parking Places',
                             'Taxes', 'Feature', 'Fronting On', 'Frontage', 'Lot Depth', 'Pool', 'Sewer', 
                             'Cross Street', 'Municipality District', 'Lot Code', 'Bedrooms Plus', 'Gas',
                               'Waterfront', 'Rooms Plus', 'Washrooms Type 3 # Pcs', 'Kitchens Plus',
                               'Parking Total', 'Furnished', 'Laundry Access', 'Private Entrance', 'Lease Term',
                               'Ensuite Laundry', 'Property Type']]

house_data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50575 entries, 0 to 50574
Data columns (total 51 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   address                 50575 non-null  object
 1   isResidentialProperty   50575 non-null  object
 2   propertyLat             50575 non-null  float64
 3   propertyLng             50575 non-null  float64
 4   searchNeighborhood      50575 non-null  object
 5   List Date               50575 non-null  object
 6   Sold Price              38378 non-null  float64
 7   Original Price          18633 non-null  float64
 8   Type                    50574 non-null  object
 9   Style                   50484 non-null  object
 10  Size (sq ft)            15027 non-null  object
 11  Age                     12753 non-null  object
 12  Community               50575 non-null  object
 13  List Price              47289 non-null  float64
 14  Bedrooms                50473 non-null  float64
 15  Bathrooms               50575 non-null  float64
 16  Kitchens                50469 non-null  float64
 17  Rooms                   50467 non-null  float64
 18  Air Conditioning        45424 non-null  object
 19  Fireplace               50416 non-null  object
 20  Basement                48608 non-null  object
 21  Heating                 50411 non-null  object
 22  Exterior                50473 non-null  object
 23  Exterior Features       14830 non-null  object
 24  Driveway                46988 non-null  object
 25  Garage                  35727 non-null  object
 26  Parking Places          50486 non-null  float64
 27  Covered Parking Places  49907 non-null  float64
 28  Taxes                   41869 non-null  float64
 29  Feature                 27017 non-null  object
 30  Fronting On             50030 non-null  object
 31  Frontage                45912 non-null  float64
 32  Lot Depth               45890 non-null  float64
 33  Pool                    2140 non-null   object
 34  Sewer                   49801 non-null  object
 35  Cross Street            50570 non-null  object
 36  Municipality District   50575 non-null  object
 37  Lot Code                17638 non-null  object
 38  Bedrooms Plus           27448 non-null  float64
 39  Gas                     5993 non-null   object
 40  Waterfront              122 non-null    object
 41  Rooms Plus              34453 non-null  float64
 42  Washrooms Type 3 # Pcs  7970 non-null   float64
 43  Kitchens Plus           11604 non-null  float64
 44  Parking Total           31716 non-null  float64
 45  Furnished               8712 non-null   object
 46  Laundry Access          2067 non-null   object
 47  Private Entrance        8709 non-null   object
 48  Lease Term              8566 non-null   object
 49  Ensuite Laundry         385 non-null    object
 50  Property Type           0 non-null      float64
dtypes: float64(20), object(31)
memory usage: 19.7+ MB

First, to narrow the scope of this project, we will only look at residential properties. As well, since our analysis will be temporal, lets get rid of houses with no list date.

In [17]:
# Drop isResidentialProperty = False values
house_data_final = house_data_final[house_data['isResidentialProperty'] == 'true,']
house_data_final = house_data_final.dropna(subset = 'List Date')

In [18]:
house_data_final = house_data_final[(house_data_final['List Date'].str.contains('2023')) |
                                   (house_data_final['List Date'].str.contains('2022')) |
                                   (house_data_final['List Date'].str.contains('2021')) |
                                   (house_data_final['List Date'].str.contains('2020')) |
                                   (house_data_final['List Date'].str.contains('2019')) |
                                   (house_data_final['List Date'].str.contains('2018')) |
                                   (house_data_final['List Date'].str.contains('2017')) |
                                   (house_data_final['List Date'].str.contains('2016')) |
                                   (house_data_final['List Date'].str.contains('2015')) |
                                   (house_data_final['List Date'].str.contains('2014')) |
                                   (house_data_final['List Date'].str.contains('2013'))]

Lets add this cleaned data into its own csv to create another checkpoint

In [19]:
house_data_final.to_csv('houses_data_final.csv')